html {
	font-size: 12px;
	font-size: 3vmax;
}

body {
	background: linear-gradient(
		0deg,
		rgba(10, 236, 238, 0.8379726890756303) 0%,
		rgba(81, 179, 206, 0.8575805322128851) 3%,
		rgba(103, 162, 196, 0.8463760504201681) 17%,
		rgba(111, 155, 192, 0.8911939775910365) 46%,
		rgba(113, 154, 191, 0.804359243697479) 52%,
		rgba(127, 127, 207, 0.8799894957983193) 70%,
		rgba(143, 94, 225, 0.8827906162464986) 80%,
		rgba(156, 68, 240, 0.927608543417367) 88%,
		rgba(167, 45, 253, 0.9500175070028011) 100%
	);
	padding: 0px;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.header-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 15%;

		.social-container {
			height: 35%;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			#author-text {
				font-family: 'Titillium Web', sans-serif;
				font-size: 0.8em;
				line-height: 0.8em;
			}

			.link-container {
				display: flex;
				flex-direction: row;

				#github,
				#slack {
					:active {
						color: rgb(202, 8, 8);
					}
				}

				#github {
					margin-right: 0.6em;
				}
			}
		}

		.play-container {
			height: 65%;

			display: flex;
			justify-content: center;
			align-items: center;

			#play-button {
				background-color: green;
				border: 1px solid goldenrod;
				color: goldenrod;
				font-family: 'Press Start 2P', cursive;
				padding-top: 2%;
				padding-left: 1%;
				word-spacing: -0.5em;
			}
		}
	}

	.hero-container {
		height: 20%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		// overflow: hidden;

		.lock-container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 15%;
			height: 100%;
		}

		#player-1-button,
		#player-2-button {
			background-color: rgb(0, 81, 255);
			color: white;
			text-align: center;
			padding-bottom: 4px;
			display: none;
		}

		.info-container {
			width: 50%;
			height: 100%;
			overflow: hidden;

			.inactive-game-container {
				height: 100%;
				font-family: 'Titillium Web', sans-serif;

				.inactive-game-text {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					p {
						margin: 0;
						width: fit-content;
					}

					#choose-text {
						font-size: 0.7em;
						color: silver;
					}

					#mode-text {
						font-size: 1.2em;
					}
				}
			}

			.active-game-container {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				display: none;

				.score-container {
					height: 65%;
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;

					.ratio-container {
						width: 15%;
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						height: fit-content;
						overflow: hidden;
						font-size: 0.7em;
						font-family: 'IM Fell English', serif;

						p {
							margin: 0;
							padding: 0;
						}

						.division-spacing {
							text-decoration: line-through;
							margin-top: -20%;
							margin-bottom: -25%;
						}
					}

					.visual-container {
						background-color: rgba(25, 25, 112, 0.61);
						width: 60%;
						height: 100%;
					}
				}

				.stat-container {
					height: 35%;
					// overflow: hidden;
					font-family: 'IM Fell English', serif;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;

					.result-stats-container {
						height: 100%;
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 0.7em;

						p {
							margin: 0;
							padding: 0;
						}
					}

					.partial-credit-container {
						display: none;

						#partial-credit {
							color: yellow;
						}
					}

					.question-stats-container {
						height: 100%;
						width: 65%;
						display: flex;
						justify-content: space-between;
						align-items: center;
						font-size: 0.5em;

						p {
							margin-top: 0;
							margin-bottom: 0;
							padding-top: 0;
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}

	.middle-container {
		height: 15%;

		.mode-container {
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			.mode-select {
				width: 35%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;

				#dev-select-button,
				#otdb-select-button {
					background-color: rgb(0, 81, 255);
					color: goldenrod;
					padding-bottom: 4px;
					font-size: max(1em);
				}
			}
		}

		.prompt-container {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			display: none;

			#prompt {
				font-family: 'IM Fell English', serif;
				font-style: italic;
				text-align: center;
				font-size: 0.8em;
			}
		}
	}

	.bottom-container {
		height: 45%;
		font-family: 'IM Fell English', serif;
		overflow: hidden;

		.dev-pregame-container {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			display: none;

			.dev-description-container {
				height: 15%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				.dev-description-text {
					font-size: max(0.7em);
					font-weight: 700;
					text-align: center;
					margin: 0;
				}
			}

			.dev-dummy-spacing {
				height: 10%;
			}

			.dev-details-container {
				height: 75%;
				width: 100%;
				font-family: 'IM Fell English', serif;

				.dev-option-container {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.dev-all-container {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;

					#all {
						font-size: max(1em);
						min-width: 80%;
						padding-top: 1%;
						border: 2px solid silver;
					}
				}

				.slider-container {
					display: flex;
					flex-direction: column;
					margin-top: auto;
					align-items: center;

					input {
						width: 10vw;
					}
				}

				.slider-text-container {
					display: flex;
					justify-content: center;
					font-family: 'Titillium Web', sans-serif;

					p {
						font-size: max(min(12px), 0.5em);
						margin: 0;
						padding: 0;
						color: black;
					}
				}

				.dev-option-button {
					background-color: green;
					font-size: max(0.6em);
					color: goldenrod;
					border: 1px solid black;
					border-radius: 5px;
					padding-left: 3px;
					padding-right: 3px;
					padding-top: 4px;
					padding-bottom: 1px;
					width: 50%;
					overflow: hidden;
					text-align: center;
				}

				.dev-grid-container {
					display: grid;
					width: 80%;
					height: 100%;
					margin: auto;
					grid-template-columns: repeat(12, 1fr);
					grid-template-rows: repeat(10, 1fr);

					.top-left {
						grid-column-start: 1;
						grid-column-end: 6;
						grid-row-start: 1;
						grid-row-end: 4;
					}

					.top-middle {
						grid-column-start: 6;
						grid-column-end: 8;
						grid-row-start: 1;
						grid-row-end: 4;
					}

					.top-right {
						grid-column-start: 8;
						grid-column-end: 13;
						grid-row-start: 1;
						grid-row-end: 4;
					}

					.bottom-left {
						grid-column-start: 1;
						grid-column-end: 6;
						grid-row-start: 8;
						grid-row-end: 11;
					}

					.bottom-middle {
						grid-column-start: 6;
						grid-column-end: 8;
						grid-row-start: 8;
						grid-row-end: 11;
					}

					.bottom-right {
						grid-column-start: 8;
						grid-column-end: 13;
						grid-row-start: 8;
						grid-row-end: 11;
					}

					.center {
						grid-column-start: 4;
						grid-column-end: 10;
						grid-row-start: 4;
						grid-row-end: 8;
					}
				}
			}
		}

		.otdb-pregame-container {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			display: none;

			.otdb-description-container {
				height: 15%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				.otdb-description-text {
					font-size: max(0.7em);
					font-weight: 700;
					text-align: center;
					margin: 0;
				}
			}

			.otdb-dummy-spacing {
				height: 10%;
			}

			.otdb-parameters-container {
				height: 75%;
				width: 100%;
				font-size: 0.7em;

				#otdb-parameters-form {
					height: 100%;
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					padding: 0px;
					margin: 0px;

					ul {
						list-style: none;
						margin: 0px;

						li {
							padding-top: 0.5%;
							padding-bottom: 0.5%;
							:first-child {
								padding-top: 0px;
							}
							:last-child {
								padding-bottom: 0px;
							}
						}
					}

					input,
					select {
						border: goldenrod dashed 1px;
						background-color: silver;
						box-sizing: border-box;
						border-top-left-radius: 4px;
						border-top-right-radius: 4px;
						border-bottom-left-radius: 4px;
						border-bottom-right-radius: 4px;
						padding-top: 0.3%;
						padding-bottom: 0.3%;
						color: rgb(31, 134, 100);
						font-size: max(min(12px), 0.7em);
						font-family: 'IM Fell English', serif;
						font-style: italic;
					}
				}
			}
		}

		.response-container {
			height: 100%;
			display: none;

			.boolean-container {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				.boolean-button-container {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: space-around;
					align-items: center;
				}

				.boolean-button {
					font-family: 'IM Fell English', serif;
					padding-top: 1%;
					background-color: green;
					font-size: max(0.8em);
					color: goldenrod;
				}

				#false-select {
					padding-left: 1%;
					padding-right: 1%;
				}

				#true-select {
					padding-left: 1.33%;
					padding-right: 1.33%;
				}
			}

			.multiple-container {
				height: 100%;
				overflow: auto;

				.boxes-container {
					text-align: center;
					font-size: max(min(10px), 0.5em);

					height: 100%;
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;
					margin: 0;
					padding: 0;
					word-break: break-word;

					-webkit-hyphens: auto;
					-ms-hyphens: auto;
					-moz-hyphens: auto;
					hyphens: auto;

					.box-container {
						border: 1px solid black;
						background-color: green;
						border-radius: 5px;
						padding-left: 3px;
						padding-right: 3px;
						display: flex;
						justify-content: space-around;
					}
				}
			}

			.fill-container {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				.sentence-container {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: 'IM Fell English', serif;
					font-size: max(0.8em);

					p {
						margin: 0;
						padding: 1%;
						white-space: pre-line;
						text-align: center;
					}

					.text-box {
						background-color: silver;
						border-top-left-radius: 4px;
						border-top-right-radius: 4px;
						border-bottom-left-radius: 4px;
						border-bottom-right-radius: 4px;
						padding-top: 0.5%;
						padding-bottom: 0.5%;
						color: rgb(31, 134, 100);
						font-size: max(min(13px), 0.8em);
						font-family: 'IM Fell English', serif;
						font-style: italic;
						width: max(min(40px), 10%);
						display: inline-block;
						text-align: center;
						outline: silver auto 3px;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.button {
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	width: min-content;
	height: min-content;
	font-size: max(1.3em);
	overflow: clip;
	line-height: 1em;
	user-select: none;
	font-family: 'DotGothic16', sans-serif;
}

.nowrap {
	white-space: nowrap;
}
